/* about 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic&family=Yeon+Sung&display=swap'); 
/* font-family: 'Do Hyeon', sans-serif; */

/* main-title 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap'); 
/* font-family: 'Playfair Display', serif; */


* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

h2 {
  font-size: 82px;
  color:#fff;
  padding-top: 180px;
  padding-left: 50px;
}

h4 {
  font-size: 64px;
  color:#fff;
  margin-top: 10px;
  padding-left: 60px;
}




/*----------------------------------------------
  Header
-----------------------------------------------*/

.main-title{
  text-align: left;
  margin-right: 200px;
  font-family: 'Playfair Display', serif;
}

#header{
  padding: 20px 20px;
  top: 0;
  left: 0;
  background-color: rgb(52, 50, 50);
  border-bottom: solid 3px #fff;
}

#navbar{
  display: flex;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
}

#navbar li a{
  text-decoration: none;
  font-size: 20px;
  font-weight: 1000;
  margin-left: 40px;
  color:#fff;
}

#navbar li a:hover{
  text-decoration: underline;
}



/*----------------------------------------------
  Main
-----------------------------------------------*/

#main{
  background-image: url("img/keyboard.jpg");
  height: 92vh;
  width: 89.45%; /* 최댓값 */
  background-size: cover;   /* 사진이 여러개 나오지 않게 */
  background-position: top 25% center; /* 사진 조정 */
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}




/*----------------------------------------------
  About
-----------------------------------------------*/

.About_title {
  margin-top: 100px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 90px;
  font-weight: 900;
  width: 100%;
  color: #fff;
  background-color:#000;
}


.profile-photo{
  margin-left: 0px;
  margin-right: 40px;
}

#about {
  display: flex;
  /* 서로 사이에 빈공간을 두고 배치 */
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  
}

#about .about-box {
  text-align: center;
  padding: 60px 20px;
  margin: 10px 40px;

}


#about .about-box2-1 {
  margin-left: 150px;
  margin-right: 40px;
}

#about .about-box2-2 {
  margin-left: 40px;
  margin-right: 20px;
}


#about .about-box2-3 {
  margin-left: 20px;

}


#about h5 {
  font-family: 'Do Hyeon', sans-serif;
  text-align: center;
  padding: 20px 8px 6px 8px;
  border-radius: 4px;
  color: #000;
  font-size: 20px;
  margin-left: 15px;
  font-weight: 900;
}

#about p{
  font-family: 'Do Hyeon', sans-serif;
  padding: 9px 0px 6px 0px;
  line-height: 1;
  border-radius: 4px;
  color: #000;
  font-size: 26px;
  padding-left: 17px;
  font-weight: 900;
}



/* 아이콘 */

#about i {
  font-size: 60px;
  padding-left:30px;
  padding-right:15px;
  vertical-align: baseline;
}

.YSH_Photo {
  margin-top: 80px;
  width: 500px;
  height: 500px;
  float: right;
}



/*----------------------------------------------
  Achieving
-----------------------------------------------*/


#Achieving {
  margin: 300px 0;
  text-align: center;
}


.Tistory {
  width:400px;
  height: 200px;
  margin-right:150px;
}

.github {
  width:430px;
  height: 200px;
}

